<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>Congratulations</title>
 <link rel="stylesheet" href="">
</head>
<body>
<h1>Congratulations</h1>
<img width="350" src="http://cdn4.lacdn.com/wp-content/uploads/2014/03/golden-retriever-puppy-webcam.jpg" alt="">
<img width="350" src="http://static.giantbomb.com/uploads/original/1/17172/1419618-unicorn2.jpg" alt="">
<img width="350" src="http://dzasv7x7a867v.cloudfront.net/product_photos/31269261/cotton_20candy_original.jpeg" alt="">
</body>
</html> 